{%extends "base.html"%} {%block conteudo%}

{%load static%}

<link rel="stylesheet" href="{%static 'css/subgrupo.css'%}" />

<div class="container mt-3 rounded shadow border-0">
    <div class="container-fluid mt-2 card rounded shadow border-2">
        <br>
        <form id="formSubgrupo" method="post">
            {%csrf_token%}
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="grupo" class="form-label"><b>Grupo</b></label>
                    <select class="form-select form-select-sm" id="grupo" name="grupo" required>
                        <option value="" selected></option>
                        {%for grupo in grupos%}
                            <option value="{{grupo}}">{{grupo}}</option>
                        {%endfor%}
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="subgrupo" class="form-label"><b>Subgrupo</b></label>
                    <input class="form-control form-control-sm" type="text" id="subgrupo" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                </div>
                <div class="col-md-2 d-flex justify-content-end">
                    <button class="btn custom_01-btn btn btn-block btn-sm" type="button" onclick="adicionarSubgrupo()"><i
                            class="fa fa-arrow-circle-down"></i> Adicionar</button>
                </div>
            </div>
        </form>
        <br>
    </div>

    <br>
    <div class="row">
        <div class="col-md-12 table-responsive">
            <table class="table table-bordered table-hover custom-table_02" id="tbSubgrupos">
                <thead>
                    <tr>
                        <th style="display:none;">id_subgrupo</th>
                        <th class="grupo text-center">Grupo</th>
                        <th class="subgrupo text-center">Subgrupo</th>
                        <th class="ativo text-center">Ativo</th>
                        <th class="text-center">Ação</th>
                    </tr>
                </thead>
                <tbody>
                    {%for subgrupo in subgrupos%}
                    <tr>
                        <td class="id_subgrupo" style="display:none;">{{subgrupo.id}}</td>
                        <td class="grupo text-center">{{subgrupo.grupo}}</td>
                        <td class="subgrupo text-center">{{subgrupo.conteudo}}</td>
                        <td class="ativo text-center">
                            {%if subgrupo.ativo == True%}
                            <input type="checkbox" class="form-check-input" disabled checked>
                            {%else%}
                            <input type="checkbox" class="form-check-input" disabled>
                            {%endif%}
                        </td>
                        <td class="text-center">
                            <button type="button" class="btn custom_02-btn btn-sm btn-edit"
                                onclick="editRowSubgrupo(this)">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-sm" onclick="deleteRowSubgrupo(this)">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    const subgrupoInserirUrl = "{% url 'subgrupo_inserir' %}";
    const subgrupoAtualizarUrl = "{% url 'subgrupo_atualizar' %}";
    const subgrupoExcluirUrl = "{% url 'subgrupo_excluir' %}";
    const obterGrupos = "{% url 'obter_grupos' %}";
</script>

<script src="{%static 'js/subgrupo.js'%}"></script>

{%endblock conteudo%}